:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --title-text-color-second: #ffffff;
  --accent-color: #2196f3;
  --footer-address-color: rgba(255, 255, 255, 0.6);
  --background-second: #f5f4fa;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  background: #ffffff;
  color: var(--primary-text-color);
  font-family: Roboto;
  letter-spacing: 0.03em;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}
/*Header*/
.header-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
}
.logo {
  display: block;
  margin-right: 85px;
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.part {
  color: var(--title-text-color);
}
.site-nav {
  display: flex;
}
.site-nav .item + .item {
  margin-left: 50px;
}
.site-nav .link {
  display: block;
  position: relative;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .studio-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .studio-link:hover::after,
.site-nav .studio-link:focus::after {
  opacity: 1;
}
.site-nav .portfolio-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .portfolio-link:hover::after,
.site-nav .portfolio-link:focus::after {
  opacity: 1;
}
.address {
  margin-left: auto;
}
.address .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address .link:hover,
.address .link:focus {
  color: var(--accent-color);
}

.address .link:not(:last-child) {
  margin-right: 50px;
}
.address .link-icon {
  width: 16px;
  height: 11px;
  fill: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address .link-icon:hover,
.address .link-icon:focus {
  fill: var(--accent-color);
}
/*Hero*/
.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../img/header.jpg);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}
.hero .hero-title {
  padding-top: 200px;
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--title-text-color-second);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero .hero-button {
  display: inline-block;
  color: var(--title-text-color-second);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background: var(--accent-color);
  border-radius: 4px;
  padding: 10px 32px;
}

/*Features*/
.feature-list {
  display: flex;
  margin: -15px;
}

.feature-list .item {
  width: 270px;
  margin: 15px;
}
/*.feature-list .item::before {
  display: block;
  content: "";
  height: 120px;
  background-color: var(--background-second);
  background-position: center;
  background-repeat: no-repeat;
}
.feature-list .item:nth-child(1)::before {
  background-image: url(../img/antenna1.svg);
}
.feature-list .item:nth-child(2)::before {
  background-image: url(../img/clock1.svg);
}
.feature-list .item:nth-child(3)::before {
  background-image: url(../img/diagram1.svg);
}
.feature-list .item:nth-child(4)::before {
  background-image: url(../img/astronaut1.svg);
}*/

.features-icon {
  background-color: #f5f4fa;
  width: 270px;
  height: 120px;
  padding: 25px 100px;
}

.feature-list .title {
  margin-top: 30px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
.feature-list .text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
/*Products*/
.product-list {
  display: flex;
  margin: -15px;
}
.product-list .item {
  position: relative;
  width: 370px;
  margin: 15px;
}
.product-list .title {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0;
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  color: var(--title-text-color-second);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
}
/*Team*/
.team-section {
  background: #f5f4fa;
}
.team-list {
  display: flex;
  margin: -15px;
  text-align: center;
}
.team-list .item {
  width: 270px;
  margin: 15px;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.team-list .foto {
  margin-bottom: 30px;
}
.team-list .title {
  margin-top: 0px;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team-list .text {
  margin-top: 0;
  margin-bottom: 16;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}
/*.social-network {
  display: flex;
  justify-content: space-around;
}
.socials {
  display: inline-block;
  width: 44px;
  height: 44px;
  <circle r="260"/>
}
.socials-item {
  fill: #afb1b8;
  background-color: #ffffff;
  border-radius: 50%;
}

.socials-item:hover,
.socials-item:focus {
  fill: #ffffff;
  background-color: var(--accent-color);
}*/
.social-network {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}
.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  fill: #afb1b8;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link:hover,
.socials-link:focus {
  background-color: var(--accent-color);
  fill: #ffffff;
}
/*Clients*/
.clients-list {
  display: flex;
  margin: -15px;
}
.clients-list .item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  margin: 15px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list .item:hover,
.clients-list .item:focus {
  border: 1px solid var(--accent-color);
}
.clients-logo {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-logo:hover,
.clients-logo:focus {
  fill: var(--accent-color);
}

/*Footer*/
footer {
  background: #2f303a;
  padding-top: 56px;
}
.footer-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.footer-contacts {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding-bottom: 28px;
}
.footer-contacts > .logo {
  margin-bottom: 10px;
}
.footer-contacts .part-footer {
  color: var(--title-text-color-second);
}
.footer-address .location {
  margin-bottom: 9px;
  display: block;
  color: var(--title-text-color-second);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}
.footer-address .link {
  display: block;
  color: var(--footer-address-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
}
.footer-address .link-mail {
  margin-bottom: 9px;
}

.join-us .title {
  display: block;
  margin-bottom: 21px;
  text-transform: uppercase;
  color: var(--title-text-color-second);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
}
.cosials-item {
  display: flex;
}
.cosials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cosials:hover,
.cosials:focus {
  background-color: var(--accent-color);
}
.cosials-icon {
  fill: #ffffff;
}
.newsletter {
  display: flex;
  flex-direction: column;
}
.footer-button {
  display: flex;
  padding: 10px 28px;
  width: 200px;
  height: 50px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  background: #2196f3;
  color: var(--title-text-color-second);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
}
.subscribe {
  margin-right: 10px;
}
.newsletter .title {
  margin-bottom: 21px;
  text-transform: uppercase;
  color: var(--title-text-color-second);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
}
.copyright {
  padding-top: 18px;
  padding-bottom: 21px;
  margin: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  color: var(--footer-address-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  text-align: center;
}
/*Projects*/
.container .title-portfolio {
  margin: 0;
}

.filters {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}
.filters .item:not(:last-child) {
  margin-right: 8px;
}
.filters .button {
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  color: var(--title-text-color);
  background: var(--background-second);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters .button:hover,
.filters .button:focus {
  color: var(--title-text-color-second);
  background: var(--accent-color);
}

.works-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.works-list .item {
  width: 370px;
  margin: 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}
.card-content {
  padding: 20px 24px;
  border: solid #eeeeee;
  border-top-width: 0;
  border-right-width: 1px;
  border-left-width: 1px;
  border-bottom-width: 1px;
}
.card-content .title {
  margin-top: 0;
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.card-content .filter-text {
  margin: 0;
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

.product {
  display: block;
  width: 370px;
  margin-left: auto;
  margin-right: auto;

  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}

.product-thumb:hover::before {
  opacity: 1;
}

.product-thumb {
  position: relative;
  overflow: hidden;
}

.product-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product:hover .product-overlay {
  transform: translateY(0);
  opacity: 1;
}
.product-overlay .text-about {
  color: #ffffff;
  font-size: 18px;
}

.product-actions {
  position: absolute;
  display: flex;
  top: 63px;
  left: 24px;
  right: 24px;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.product:hover .product-actions {
  opacity: 1;
}
.product-actions .text-about {
  margin: 0;
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
}
